In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
df = pd.read_csv('financial_loan.csv')

In [5]:
df.head(10)

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,sub_grade,term,verification_status,annual_income,dti,installment,int_rate,loan_amount,total_acc,total_payment
0,1077430,GA,INDIVIDUAL,< 1 year,Ryder,C,RENT,2021-11-02,13-09-2021,13-04-2021,...,C4,60 months,Source Verified,30000.0,0.0100,59.83,0.1527,2500,4,1009
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,2021-01-01,14-12-2021,15-01-2021,...,E1,36 months,Source Verified,48000.0,0.0535,109.43,0.1864,3000,4,3939
2,1069243,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,2021-05-01,2021-12-12,2021-09-01,...,C5,36 months,Not Verified,50000.0,0.2088,421.65,0.1596,12000,11,3522
3,1041756,TX,INDIVIDUAL,< 1 year,barnes distribution,B,MORTGAGE,25-02-2021,2021-12-12,2021-12-03,...,B2,60 months,Source Verified,42000.0,0.0540,97.06,0.1065,4500,9,4911
4,1068350,IL,INDIVIDUAL,10+ years,J&J Steel Inc,A,MORTGAGE,2021-01-01,14-12-2021,15-01-2021,...,A1,36 months,Verified,83000.0,0.0231,106.53,0.0603,3500,28,3835
5,1062608,CA,INDIVIDUAL,3 years,Studio 94 Corp,C,RENT,17-07-2021,16-03-2021,2021-12-08,...,C3,36 months,Not Verified,28000.0,0.1260,275.96,0.1465,8000,11,8637
6,1067441,TX,INDIVIDUAL,10+ years,American Airlines,C,MORTGAGE,19-11-2021,14-06-2021,13-12-2021,...,C2,36 months,Verified,94800.0,0.2453,205.86,0.1427,6000,30,7218
7,1066424,PA,INDIVIDUAL,10+ years,SCI Mahanoy,A,OWN,2021-11-06,14-07-2021,14-07-2021,...,A4,36 months,Source Verified,59000.0,0.0665,172.10,0.0790,5500,23,6172
8,1065254,FL,INDIVIDUAL,10+ years,Tech Data Corp,A,MORTGAGE,2021-02-09,15-06-2021,2021-12-10,...,A5,36 months,Verified,116400.0,0.0394,762.08,0.0890,24000,31,8650
9,1064589,MI,INDIVIDUAL,10+ years,teltow contracting,B,MORTGAGE,2021-09-02,16-03-2021,16-03-2021,...,B5,60 months,Not Verified,36000.0,0.1773,93.21,0.1269,4125,21,5551

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38576 entries, 0 to 38575
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     38576 non-null  int64
 1   address_state          38576 non-null  object
 2   application_type       38576 non-null  object
 3   emp_length             38576 non-null  object
 4   emp_title              37138 non-null  object
 5   grade                  38576 non-null  object
 6   home_ownership         38576 non-null  object
 7   issue_date             38576 non-null  object
 8   last_credit_pull_date  38576 non-null  object
 9   last_payment_date      38576 non-null  object
 10  loan_status            38576 non-null  object
 11  next_payment_date      38576 non-null  object
 12  member_id              38576 non-null  int64
 13  purpose                38576 non-null  object
 14  sub_grade              38576 non-null  object
 15  term                   38576 non-null  object
 16  verification_status    38576 non-null  object
 17  annual_income          38576 non-null  float64
 18  dti                    38576 non-null  float64
 19  installment            38576 non-null  float64
 20  int_rate               38576 non-null  float64
 21  loan_amount            38576 non-null  int64
 22  total_acc              38576 non-null  int64
 23  total_payment          38576 non-null  int64
dtypes: float64(4), int64(5), object(15)
memory usage: 7.1+ MB

In [10]:
dt_null = df.isnull().sum() / df.shape[0] * 100
dt_null

id                       0.000000
address_state            0.000000
application_type         0.000000
emp_length               0.000000
emp_title                3.727706
grade                    0.000000
home_ownership           0.000000
issue_date               0.000000
last_credit_pull_date    0.000000
last_payment_date        0.000000
loan_status              0.000000
next_payment_date        0.000000
member_id                0.000000
purpose                  0.000000
sub_grade                0.000000
term                     0.000000
verification_status      0.000000
annual_income            0.000000
dti                      0.000000
installment              0.000000
int_rate                 0.000000
loan_amount              0.000000
total_acc                0.000000
total_payment            0.000000
dtype: float64

In [12]:
df['loan_status'].groupby(df['loan_status']).count()

loan_status
Charged Off     5333
Current         1098
Fully Paid     32145
Name: loan_status, dtype: int64

In [13]:
date_cols = ['issue_date','last_credit_pull_date'	,'last_payment_date','next_payment_date']

In [24]:
df[date_cols].head()
df[date_cols]

       issue_date last_credit_pull_date last_payment_date next_payment_date
0      2021-11-02            13-09-2021        13-04-2021        13-05-2021
1      2021-01-01            14-12-2021        15-01-2021        15-02-2021
2      2021-05-01            2021-12-12        2021-09-01        2021-09-02
3      25-02-2021            2021-12-12        2021-12-03        2021-12-04
4      2021-01-01            14-12-2021        15-01-2021        15-02-2021
...           ...                   ...               ...               ...
38571  2021-11-07            16-05-2021        16-05-2021        16-06-2021
38572  2021-11-10            16-04-2021        16-05-2021        16-06-2021
38573  2021-11-09            16-05-2021        16-05-2021        16-06-2021
38574  2021-11-10            16-05-2021        16-05-2021        16-06-2021
38575  2021-11-07            16-05-2021        16-05-2021        16-06-2021

[38576 rows x 4 columns]

In [26]:
for col in date_cols:
  df[col] = pd.to_datetime(df[col], dayfirst=True, format='mixed')

In [28]:
df[date_cols].head()

  issue_date last_credit_pull_date last_payment_date next_payment_date
0 2021-11-02            2021-09-13        2021-04-13        2021-05-13
1 2021-01-01            2021-12-14        2021-01-15        2021-02-15
2 2021-05-01            2021-12-12        2021-09-01        2021-09-02
3 2021-02-25            2021-12-12        2021-12-03        2021-12-04
4 2021-01-01            2021-12-14        2021-01-15        2021-02-15

In [29]:
df['term_months'] = df['term'].str.extract(r"(\d+)").astype(int)

In [30]:
df['term_months'].head()

0    60
1    36
2    36
3    60
4    36
Name: term_months, dtype: int64

In [33]:
df[['term','term_months']].drop_duplicates()

         term  term_months
0   60 months           60
1   36 months           36

In [35]:
df["emp_length"].value_counts(dropna=False)

emp_length
10+ years    8870
< 1 year     4575
2 years      4382
3 years      4088
4 years      3428
5 years      3273
1 year       3229
6 years      2228
7 years      1772
8 years      1476
9 years      1255
Name: count, dtype: int64

In [37]:
def clean_emp_length(x):
    if pd.isna(x):
        return None
    x = x.strip().lower()
    if x == "n/a":
        return None
    if "<" in x:
        return 0.5
    if "10+" in x:
        return 10
    return int(x.split()[0])

df["emp_length_years"] = df["emp_length"].apply(clean_emp_length)

In [38]:
df[["emp_length", "emp_length_years"]].drop_duplicates().sort_values("emp_length_years")

   emp_length  emp_length_years
0    < 1 year               0.5
16     1 year               1.0
33    2 years               2.0
5     3 years               3.0
2     4 years               4.0
13    5 years               5.0
20    6 years               6.0
40    7 years               7.0
44    8 years               8.0
1     9 years               9.0
4   10+ years              10.0

In [41]:
df["interest_rate_pct"] = df["int_rate"] * 100

In [43]:
df["is_default"] = df["loan_status"].apply(
    lambda x: 1 if x == "Charged Off" else 0
)

In [44]:
df[["loan_status", "is_default"]].value_counts()

loan_status  is_default
Fully Paid   0             32145
Charged Off  1              5333
Current      0              1098
Name: count, dtype: int64

In [49]:
df["end_date"] = df["last_payment_date"].fillna(df["last_credit_pull_date"])
df["end_date"].head()

0   2021-04-13
1   2021-01-15
2   2021-09-01
3   2021-12-03
4   2021-01-15
Name: end_date, dtype: datetime64[ns]

In [47]:
df["loan_age_months"] = (
    (df["end_date"] - df["issue_date"]).dt.days / 30
).round(1)

In [50]:
df[["issue_date", "end_date", "loan_age_months"]].head()

  issue_date   end_date  loan_age_months
0 2021-11-02 2021-04-13             -6.8
1 2021-01-01 2021-01-15              0.5
2 2021-05-01 2021-09-01              4.1
3 2021-02-25 2021-12-03              9.4
4 2021-01-01 2021-01-15              0.5

In [52]:
df[df["loan_age_months"] < 0].shape

(18726, 30)

In [53]:
df.loc[df["loan_age_months"] < 0,
       ["issue_date", "last_payment_date", "last_credit_pull_date", "loan_status"]].head(10)

   issue_date last_payment_date last_credit_pull_date  loan_status
0  2021-11-02        2021-04-13            2021-09-13  Charged Off
7  2021-11-06        2021-07-14            2021-07-14   Fully Paid
9  2021-09-02        2021-03-16            2021-03-16   Fully Paid
12 2021-11-08        2021-09-13            2021-10-13   Fully Paid
15 2021-11-12        2021-10-13            2021-02-14  Charged Off
25 2021-11-11        2021-06-13            2021-11-13  Charged Off
28 2021-11-01        2021-10-13            2021-05-16  Charged Off
31 2021-11-05        2021-01-13            2021-05-16  Charged Off
37 2021-11-04        2021-07-13            2021-12-13  Charged Off
40 2021-11-10        2021-10-13            2021-03-14  Charged Off

In [56]:
df.loc[df["loan_age_months"] < 0, "loan_age_months"] = None
df[["issue_date", "end_date", "loan_age_months"]].head()

  issue_date   end_date  loan_age_months
0 2021-11-02 2021-04-13              NaN
1 2021-01-01 2021-01-15              0.5
2 2021-05-01 2021-09-01              4.1
3 2021-02-25 2021-12-03              9.4
4 2021-01-01 2021-01-15              0.5

In [57]:
df["loan_age_months"].describe()

count    19850.000000
mean         1.450191
std          0.949371
min          0.000000
25%          0.900000
50%          1.100000
75%          2.100000
max         10.200000
Name: loan_age_months, dtype: float64

In [58]:
df["issue_year"] = df["issue_date"].dt.year
df["issue_month"] = df["issue_date"].dt.month

In [59]:
df.describe()[["loan_amount", "annual_income", "dti", "loan_age_months"]]

        loan_amount  annual_income           dti  loan_age_months
count  38576.000000   3.857600e+04  38576.000000     19850.000000
mean   11296.066855   6.964454e+04      0.133274         1.450191
min      500.000000   4.000000e+03      0.000000         0.000000
25%     5500.000000   4.150000e+04      0.082100         0.900000
50%    10000.000000   6.000000e+04      0.134200         1.100000
75%    15000.000000   8.320050e+04      0.185900         2.100000
max    35000.000000   6.000000e+06      0.299900        10.200000
std     7460.746022   6.429368e+04      0.066662         0.949371

In [61]:
import os
os.makedirs('data/processed', exist_ok=True)
df.to_csv('data/processed/financial_loan_clean.csv', index=False)

In [62]:
df.head()

,id,address_state,application_type,emp_length,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,...,total_acc,total_payment,term_months,emp_length_years,interest_rate_pct,is_default,end_date,loan_age_months,issue_year,issue_month
0,1077430,GA,INDIVIDUAL,< 1 year,Ryder,C,RENT,2021-11-02,2021-09-13,2021-04-13,...,4,1009,60,0.5,15.27,1,2021-04-13,NaN,2021,11
1,1072053,CA,INDIVIDUAL,9 years,MKC Accounting,E,RENT,2021-01-01,2021-12-14,2021-01-15,...,4,3939,36,9.0,18.64,0,2021-01-15,0.5,2021,1
2,1069243,CA,INDIVIDUAL,4 years,Chemat Technology Inc,C,RENT,2021-05-01,2021-12-12,2021-09-01,...,11,3522,36,4.0,15.96,1,2021-09-01,4.1,2021,5
3,1041756,TX,INDIVIDUAL,< 1 year,barnes distribution,B,MORTGAGE,2021-02-25,2021-12-12,2021-12-03,...,9,4911,60,0.5,10.65,0,2021-12-03,9.4,2021,2
4,1068350,IL,INDIVIDUAL,10+ years,J&J Steel Inc,A,MORTGAGE,2021-01-01,2021-12-14,2021-01-15,...,28,3835,36,10.0,6.03,0,2021-01-15,0.5,2021,1